annotated-types==0.7.0
anyio==4.6.2.post1
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
Automat @ file:///home/conda/feedstock_root/build_artifacts/automat_1724116770503/work
bcrypt @ file:///Users/runner/miniforge3/conda-bld/bcrypt_1732074886115/work
beautifulsoup4==4.12.3
Brotli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_27zk0eqdh0/croot/brotli-split_1714483157007/work
bs4==0.0.2
cachetools==5.5.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click==8.1.8
constantly==15.1.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1732746035566/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1666980406338/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
distro==1.9.0
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.115.6
fastapi-cli==0.0.7
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
html2text==2024.2.26
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1722304162160/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1732896809191/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1727723151013/work
Jinja2==3.1.5
jiter==0.8.0
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1730194251743/work
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
oauthlib==3.2.2
openai==1.55.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1731802491770/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1714637952682/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1712316608681/work
proto-plus==1.25.0
protobuf==5.29.0
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1726839225972/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1726029546107/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.10.2
pydantic_core==2.27.1
PyDispatcher==2.0.5
Pygments==2.18.0
pyOpenSSL==24.3.0
pyparsing==3.2.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dotenv==1.0.1
python-multipart==0.0.20
PyYAML==6.0.2
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1714989370868/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1716356557602/work
requests-oauthlib==2.0.0
rich==13.9.4
rich-toolkit==0.12.0
rsa==4.9
Scrapy @ file:///Users/runner/miniforge3/conda-bld/scrapy_1732089737964/work
service-identity @ file:///home/conda/feedstock_root/build_artifacts/service-identity_1729959489453/work
setuptools==72.1.0
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.1
soupsieve==2.6
starlette==0.41.3
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1730780381846/work
tqdm==4.67.1
Twisted @ file:///Users/runner/miniforge3/conda-bld/twisted_1730206912886/work
typer==0.15.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
uvicorn==0.34.0
uvloop==0.21.0
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1718193888625/work
watchfiles==1.0.3
websockets==14.1
wheel==0.43.0
zope.interface @ file:///Users/runner/miniforge3/conda-bld/zope.interface_1732795000540/work
zstandard==0.23.0
